:root {
  font-size: 10px;
  --background: #f2f0eb;
  --recipe-background: #d9d7cc;
  --markers: #59432f;
  --hover-link: #99a6bf;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  background-color: var(--background);
}

ul,
ol {
  list-style-position: inside;
  margin: 0;
  padding: 0;
}

li::marker {
  color: var(--markers);
}

li,
p {
  margin: 0;
  font-size: 2.4rem;
  margin-top: 1.6rem;
  line-height: 1.6;
}

h1,
h2,
h3 {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 4.8rem;
  font-weight: 700;
}

h2 {
  font-size: 4rem;
  font-weight: 600;
}

h3 {
  font-weight: 500;
  font-size: 3.2rem;
}

a {
  color: var(--markers);
}

a:hover {
  color: var(--hover-link);
}

main {
  background-color: var(--recipe-background);
  border-radius: 16px;
  margin: 8rem auto;
  max-width: 50%;
}

.recipe {
  padding: 3.2rem;
}

.section {
  margin: 3.2rem 0;
}

.section:first-child,
.section:last-child {
  margin: 0;
}

.image-container {
  margin: 0;
  margin-top: 1.6rem;
  overflow: hidden;
}

.main-image {
  width: 100%;
  border-radius: 16px;
  object-fit: cover;
}

.main-image + figcaption {
  margin-top: 0.8rem;
  font-size: 1.6rem;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info > * {
  font-size: 1.6rem;
}

.refer {
  margin: 0;
}

@media (max-width: 1200px) {
  main {
    max-width: 75%;
  }
}

@media (max-width: 700px) {
  main {
    max-width: 80%;
  }

  li,
  p {
    font-size: 2rem;
    line-height: 1.2;
  }

  h1 {
    font-size: 4.4rem;
  }

  h2 {
    font-size: 3.6rem;
  }

  h3 {
    font-size: 2.8rem;
  }

  .main-image + figcaption {
    font-size: 1.2rem;
  }

  .info > * {
    font-size: 1.2rem;
  }
}

@media (max-width: 415px) {
  main {
    max-width: 90%;
  }

  h1 {
    font-size: 3.3rem;
  }

  h2 {
    font-size: 2.7rem;
  }
  ot li,
  p {
    font-size: 1.5rem;
  }
} ;
